<% form_remote_for :session, :url => session_path do |f| -%>
	<div class="field">
		<div class="field_label">
			<%= t('sessions.new.email.label')%>
		</div>
		<div class="field_box">
			<%= text_field_tag :email %>
		</div>
	</div>
	
	<div class="field">
		<div class="field_label">
			<%= t('sessions.new.password.label')%>
		</div>
		<div class="field_box">
			<%= password_field_tag :password %>
		</div>
	</div>	
	<%= submit_tag t('sessions.new.submit'), :class => "yellow_button" %>
<% end -%>