<%= render :partial => "priorities/header" %>
<%= render :partial => "priorities/nav" %>
<p>
<%= blurb('point_new')%>
		
<% form_for :point, :url => priority_points_path(@priority)  do |f| %>

  <%= f.error_messages :header_message => t('points.new.errors.header_message'), :message => t('points.new.errors.message') %>

	<div class="field">
	    <div class="field_label"><%= t('points.new.content.label') %> <span id="pointContentDown"></span> <%= t('characters_left')%></div>
		<div class="field_box">
	    <%= f.text_area :content, :id => 'pointContent', :button => 'submit', :rows => 5, :cols => 60, :maxLength => 500 %>
		</div>
	</div>				

	<div class="field">
		<div class="field_label"><%= t('points.new.website.label') %></div>
		<div class="field_box">
			<%= f.text_field :website, :size => 50 %>	
		</div>
	</div>
	<div class="field">
		<div class="field_label">
			<%= t('points.new.position.label', :priority_name => link_to(@priority.name, @priority), :support_radio => f.radio_button(:value, 1), :oppose_radio => f.radio_button(:value, -1), :neutral_radio => f.radio_button(:value, 0))%>
		</div>
	</div>
	
	<div class="field">
   		<div class="field_label">
			<span class="red">*</span> <%= t('points.new.name.label')%>
		</div>
		<div class="field_box">
   			<%= f.text_field :name, :size => 50, :maxlength => 60 %>
		</div>
	</div>
	
	<div class="field">
		<div class="field_label">
			<%= t('points.new.other_priority_name.label') %>
		</div>
		<div class="field_box">
			<%= f.text_field :other_priority_name, :size => 50, :autocomplete => "off" %>			
			<%= t('points.new.other_priority_name.example')%>
		</div>
		
	</div>
	
	<%= f.submit t('points.new.submit'), :id => "submit", :class => "yellow_button" %>

<% end %>
