<div class="change" id="change_<%= change.id %>">
<div class="change_user_pic">
	<%= render :partial => "users/pic", :locals => {:user => change.user }%>
	<div class="pc_under"><%= t('pc.name', :capital => change.user.capitals_count, :currency_short_name => current_government.currency_short_name) %></div>
</div>

<%= link_to change.user.name, change.user %> proposed an acquisition <%= time_ago(change.created_at) %>:<br/>
<div class="change_name_first"><%= link_to h(change.new_priority.name), change.new_priority %></div>
with <%= render :partial => "priorities/endorsement_count", :locals => {:priority => change.new_priority }%>
<br/>should <%= link_to "acquire", priority_change_url(change.priority,change) %> the 
	
<% if change.is_active? %>
	<% if change.is_endorsers? %>
	<%= pluralize(change.priority.up_endorsements_count,"endorser") %>
	<% end %>
	<% if change.is_endorsers? and change.is_opposers? %>and<% end %>
	<% if change.is_opposers? %>
	<%= pluralize(change.priority.down_endorsements_count,"opposers") %>
	<% end %>
<% else %>
	<% if change.is_endorsers? %>
	endorsers
	<% end %>
	<% if change.is_endorsers? and change.is_opposers? %>and<% end %>
	<% if change.is_opposers? %>
	opposers
	<% end %>
<% end %>
of <b><%= link_to h(change.priority.name), change.priority %></b>
<% if change.is_flip?%>
	flipping the 
	<% if change.is_endorsers? %>
	endorsers to opposers
	<% end %>
	<% if change.is_endorsers? and change.is_opposers? %>and the<% end %>
	<% if change.is_opposers? %>
	opposers to endorsers
	<% end %>
<% end %>