<div class="comment_form" id="activity_<%=activity.id.to_s%>_comment_form">
	<% form_remote_for comment, :url => activity_comments_path(activity), :loading=>"Form.Element.disable('comment-form-submit')" do |f| %>		
		<%= f.error_messages %>
		<%= f.text_area :content, :size => "50x2", :id => "comment_content_#{activity.id.to_s}" %><br/>
		<div style="padding-top: 3px;">
			<table border="0" cellspacing="0" cellpadding="0">
				<tr><td valign="top">
						<%= f.submit t('comments.new.submit'), :id => "comment-form-submit", :class => "grey_button" %>
					</td>
					<td valign="top">
						<div id="comment_error_<%= activity.id.to_s %>" class="comment_error"></div>
					</td>
				</tr>
			</table>			
		</div>
	<% end %>
</div>
