<div id="hp_intro"><%= @page_title %></div>

<% if not logged_in? %>
	<%= t('comments.participate_intro', :signup_url => new_user_url)%>
	<p>
<% end %>
<% if logged_in? %>
	<%= render :partial => "bulletins/form", :locals => {:activity => Activity.new, :comment => Comment.new } %>	
<% end %>

<%= render :partial => "shared/paginate_with_feed", :locals => {:collection => @activities} %>
<div id="activities">
	<% for activity in @activities %>
		<%= render :partial => "activities/show", :locals => {:activity => activity, :suffix => ""} %>
	<% end %>
</div>
<%= will_paginate(@activities) %>
