<div id="hp_intro"><%= @page_title %></div>

<% if @documents.empty? %>
	<%= t('document.empty')%>
<% else %>

	<%= will_paginate(@documents) %>
	<p>
	<% for document in @documents %>
		<%= render :partial => "documents/show_full", :locals => {:document => document, :revision => nil}%>
	<% end %>

	<p>
	<%= will_paginate(@documents) %>

<% end %>
		

