<p>
  <b>Picture:</b>
  <%=h @partner.picture_id %>
</p>

<p>
  <b>Is optin:</b>
  <%=h @partner.is_optin %>
</p>

<p>
  <b>Optin text:</b>
  <%=h @partner.optin_text %>
</p>

<p>
  <b>Privacy url:</b>
  <%=h @partner.privacy_url %>
</p>

<p>
  <b>Name:</b>
  <%=h @partner.name %>
</p>

<p>
  <b>Short name:</b>
  <%=h @partner.short_name %>
</p>

