<div id="hp_intro">
	<%= @page_title %>
</div>
<p>	
<% if current_government.has_buddy_icon? %>
	<table border="0" cellspacing="0" cellpading="0">
		<tr><td><%= image_tag current_government.buddy_icon.url(:icon_96), :border => 0 %></td>
			<td><%= image_tag current_government.buddy_icon.url(:icon_48), :border => 0 %></td>
			<td><%= image_tag current_government.buddy_icon.url(:icon_24), :border => 0 %></td>
		</tr>
	</table>
<% end %>

<% form_for(current_government, :url => {:action => "buddy_icon_save" }, :html => {:multipart => true}) do |f| %>
<%= f.error_messages %>

<p>
<%= f.file_field :buddy_icon %><br/>
<span class="small"><%= t('pictures.must') %></span>

<p><%= submit_tag t('pictures.submit'), :class => "yellow_button" %></p>
<% end %>
