<div id="hp_intro">
	<%= @page_title %>
</div>
<%= t('admin.fav_icon_explanation')%>
<p>	
<%= image_tag current_government.fav_icon.url(:icon_16), :border => 0 %>

<% form_for(current_government, :url => {:action => "fav_icon_save" }, :html => {:multipart => true}) do |f| %>
<%= f.error_messages %>

<%= f.file_field :fav_icon %><br/>
<span class="small"><%= t('pictures.must') %></span>

<p><%= submit_tag t('pictures.submit'), :class => "yellow_button" %></p>
<% end %>
