<div id="hp_intro">
	<%= @page_title %>
</div>
<p>	
<% if current_government.has_logo? %>
	<%= image_tag current_government.logo.url(:medium), :border => 0 %>
<% end %>

<% form_for(current_government, :url => {:action => "picture_save" }, :html => {:multipart => true}) do |f| %>
<%= f.error_messages %>

<%= f.file_field :logo %><br/>
<span class="small"><%= t('pictures.must') %></span>

<p><%= submit_tag t('pictures.submit'), :class => "yellow_button" %></p>
<% end %>
