<% if user.has_picture? %>
	<a href="<%= url_for user %>"><%= image_tag user.buddy_icon.url(:icon_96), :size => "96x96", :border => 0 %></a>
<% elsif Facebooker.api_key and user.has_facebook? %>
	<a href="<%= url_for user %>"><fb:profile-pic uid="<%= user.facebook_uid %>" size="small" width="96px" border="0" linked="false" /></fb:profile-pic></a>
<% else %>
	<%= image_tag current_government.buddy_icon.url(:icon_96), :size => "96x96", :border => 0 %>
<% end %>