<div id="hp_intro"><%= @page_title %></div>
<p>
<% if not (logged_in? and current_user.has_twitter?) %>
<%= t('network.twitterers.intro', :government_name => current_government.name)%>
<p>
<p><%= link_to image_tag("twitter_signin.png", :border => 0), :controller => "twitter", :action => "create" %>
<% end %>

<table border="0" cellspacing="0" cellpadding="0">
	<% for user in @users %>
		<% @row += 1%>
		<tr><td valign="top">
			<div class="priority_position"><%= @row %></div>
			</td>
			<td valign="top" width="26" style="padding: 10px 5px 4px 7px;">
				<%= render :partial => "users/pic", :locals => {:user => user}%>
			</td><td style="padding: 5px 5px 4px 0px;" valign="top">
				<%= link_to user.login, user %><span class="pc"><%= user.capitals_count%><%= current_government.currency_short_name %></span><% if user.twitter_count > 0 %> <%= t('users.twitter_count', :count => user.twitter_count, :twitter_login => user.twitter_login ) %><% end %>
				<% if user.has_top_priority? %>
					<br/><%= t('endorsements.priority1') %>
					<% if user.top_endorsement.is_down? %><span class="opposed"><%= t('oppose.ing')%></span><% end %>
					<%= link_to user.top_endorsement.priority.name, user.top_endorsement.priority %>
				<% end %>
			</td>
		</tr>
	<% end %>					
</table>				
<p>
<%= will_paginate(@users) %>
