<div id="buzz_box">
<table border="0" cellspacing="0" cellpadding="0">
	<tr><td rowspan="2">
			<a href="/about/press"><%= image_tag "msnbc-logo-small.gif", :border => 0 %></a>
		</td>
		<td valign="top" colspan="2" style="padding-left: 5px;">
			<a href="/about/press"><%= link_to "The word is out", :controller => "about", :action => "press" %>:
		</td>
	</tr>
	<tr>
		<td valign="top" style="padding-left: 5px;">
			<a href="/about/press"><%= image_tag "wapo-logo-small.gif", :border => 0 %></a>
		</td>
	</tr>
	<tr>
		<td valign="top" style="padding-top: 2px;">
			<a href="/about/press"><%= image_tag "ft-logo-small.gif", :border => 0 %></a>
		</td>
		<td valign="top" style="padding-left: 5px; padding-top: 3px;">
			<a href="/about/press"><%= image_tag "techpres-logo-small.gif", :border => 0 %></a>
		</td>	
	</tr>
</table>
<p>
</div>