<div id="login">

	<% if (Facebooker.api_key and current_government.is_facebook?) or current_government.is_twitter? %>
	<%= t('sessions.new.intro_with', :signup_url => signup_url, :government_name => current_government.name)%>
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td><a href='#' id='login_link'><%= current_government.name %></a></td>
			<% if (Facebooker.api_key and current_government.is_facebook?) %>
			<td style="padding-left: 5px;"><%= fb_login_and_redirect url_for, :size => :small, :background => :white  %></td>
			<td style="padding-left: 3px;"><a href="#" onclick="FB.Connect.requireSession(); return false;"><%= t('sessions.new.login.facebook')%></a></td>
			<% end %>
			<td style="padding-left: 3px;"><%= t('sessions.new.login.or')%></td>
			<% if current_government.is_twitter? %>
			<td style="padding-left: 3px;"><%= link_to image_tag("twitter_icon_16.png", :size => "16x16", :border => 0), :controller => "twitter", :action => "create" %></td>
			<td style="padding-left: 3px;"><%= link_to t('sessions.new.login.twitter'), :controller => "twitter", :action => "create" %></td>
			<% end %>
		</tr>
	</table>
	
	<% else %>
		<%= t('sessions.new.intro', :signup_url => signup_url, :government_name => current_government.name)%>
	<% end %>

	<div id="login_form">
		<p>
	<% form_remote_for :session, :url => session_path do |f| -%>
		<table border="0" cellspacing="0" cellpadding="0">
			<tr><td><%= t('sessions.new.email.label')%></td><td style="padding-left: 4px;"><%= t('sessions.new.password.label')%></td><td></td></tr>
			<tr><td valign="top">
				<input type="text" name="email" size="15" id="login_email">
			</td><td valign="top" style="padding-left: 2px;">
				<input type="password" name="password" size="8" id="login_password">
			</td>
			<td valign="top" style="padding-left: 2px;">
				<%= submit_tag t('sessions.new.submit'), :class => "yellow_button" %>
			</td>
			</tr>
		</table>
		<div id="login_message"></div>
		<%= link_to t('sessions.new.forgot'), new_password_path %>	
		<p>
	<% end -%>
	</div>
	
</div>