<div id="login">

	<%= t('sessions.new.intro', :signup_url => signup_url, :government_name => current_government.name)%>
	<div id="login_form">
		<p>
	<% form_remote_for :session, :url => session_path(:region => "inline") do |f| -%>
		<table border="0" cellspacing="0" cellpadding="0">
			<tr><td><%= t('sessions.new.email.label')%></td><td style="padding-left: 4px;"><%= t('sessions.new.password.label')%></td><td></td></tr>
			<tr><td valign="top">
				<input type="text" name="email" size="15" id="login_email">
			</td><td valign="top" style="padding-left: 2px;">
				<input type="password" name="password" size="8" id="login_password">
			</td>
			<td valign="top" style="padding-left: 2px;">
				<%= submit_tag t('sessions.new.submit'), :class => "yellow_button" %>
			</td>
			</tr>
		</table>
		<div id="login_message"></div>
		<%= link_to t('sessions.new.forgot'), new_password_path %>	
	<% end -%>
	</div>

	<% if current_government.has_facebook_enabled? or current_government.has_twitter_enabled? %>
	<p>
	<% end %>

	<% if current_government.has_facebook_enabled? %>
		<div style="margin-bottom: 5px;">
		<a href="#" onclick="FB.Connect.requireSession(function(){window.location.href=window.location.href=window.location.href;}); return false;"><%= image_tag("facebook_signin.png", :border => 0)%></a>
		</div>
	<% end %>
	
	<% if current_government.has_twitter_enabled? %>
		<div style="margin-bottom: 5px;">
		<%= link_to image_tag("twitter_signin.png", :border => 0), :controller => "twitter", :action => "create" %>
		</div>
	<% end %>
	
</div>