<div id="hp_intro"><%= @page_title %></div>
<p>
<%= blurb("legislators_intro")%>
<p>
<% form_remote_for(:user, :url => {:action => "legislators_save" }) do |f| %>
	<%= f.error_messages %>

	<p><label for="email"><%= t('settings.edit.address.label')%></label><br/>
	<%= f.text_field :address, :size => 40 %>
	</p>

	<table border="0" cellspacing="0" cellpadding="0">
		<tr><td><%= t('settings.edit.city.label')%></td><td style="padding-left: 10px;"><%= t('settings.edit.state.label')%></td><td style="padding-left: 10px;"><%= t('settings.edit.zip.label')%></td></tr>
		<tr><td><%= f.text_field :city, :size => 15 %></td>
			<td style="padding-left: 10px;"><%= f.select :state, State::NAMES.collect{|s|[s[0],s[0]]}, {:include_blank => true} %></td>
			<td style="padding-left: 10px;"><%= f.text_field :zip, :size => 10 %></td>
		</tr>		
	</table>
	<p><%= f.submit t('settings.legislators.submit'), :class => "yellow_button" %></p>

<% end -%>


<%= render :partial => "legislators", :locals => {:user => @user} %>
