<div id="hp_intro"><%= @page_title %></div>

<%= image_tag @user.buddy_icon.url(:icon_96), :border => 0 %>

<% form_for(User.new, :url => {:action => "picture_save" }, :html => {:multipart => true}) do |f| %>
<%= f.error_messages %>

<p><label for="picture"><%= t('settings.picture.upload')%></label>
<p>
<%= f.file_field :buddy_icon %><br/>
<span class="small"><%= t('pictures.must') %></span>

<p><%= submit_tag t('pictures.submit'), :class => "yellow_button" %></p>
<% end %>

