<div id="hp_intro"><%= @page_title %></div>
			
<% form_for(:user, :url => {:action => "update" }) do |f| %>

	<%= f.error_messages %>

	<%= f.check_box :is_newsletter_subscribed %> <%= t("unsubscribe.weekly") %><br/>									
	<%= f.check_box :is_comments_subscribed %> <%= t("unsubscribe.comments") %><br/>
	<%= f.check_box :is_point_changes_subscribed %> <%= t("unsubscribe.points")%><br/>	
	<%= f.check_box :is_followers_subscribed %> <%= t("unsubscribe.followers")%><br/>		
	<%= f.check_box :is_finished_subscribed %> <%= t("unsubscribe.finished")%><br/>	
	<%= f.check_box :is_votes_subscribed %> <%= t("unsubscribe.votes")%><br/>
	<%= f.check_box :is_messages_subscribed %> <%= t("unsubscribe.messages")%><br/>	
	<% if current_user.is_admin? %>
		<%= f.check_box :is_admin_subscribed %> <%= t("unsubscribe.admin")%><br/>
	<% end %>
	
	<%= hidden_field_tag "user[partner_ids][]", "" %>

	<% for partner in @partners %>
		<%= check_box_tag "user[partner_ids][]", partner.id, @user.partners.include?(partner) %> <%= partner.optin_text %>
		<div class="small" style="padding-left:2px;">from 
			<% if partner.has_website? %>
			<a href="<%= partner.website_link %>"><%= partner.name %></a>
			<% else %>
			<%= h(partner.name)%>
			<% end %>(<a href="<%= partner.privacy_url %>"><%= t('partners.privacy_policy')%></a>)
		</div>
	<% end %>
	<p>
	<%= submit_tag t('signups.edit.submit'), :class => "yellow_button" %>
	<p><%= t('signups.also_rss', :rss_url => rss_url(@rss_url)) %>

<% end %>
