<h2><%= t('contacts.new.preview.heading')%></h2>
<p>
<%= t('contacts.new.preview.from')%> <%= current_government.admin_name %> &lt;<%= current_government.admin_email %>&gt;<br/>
<%= t('contacts.new.preview.to')%> <span class="highlight">Their Name &lt;theiremail@address.com&gt;</span><br/>
<%= t('contacts.new.preview.subject')%> <%= EmailTemplate.fetch_subject_liquid("invitation").render({"government" => current_government, "user" => current_user, "sender_name" => t('contacts.new.preview.from_name'), "to_name" => t('contacts.new.preview.to_name'), "to_email" => t('contacts.new.preview.to_email')}, :filters => [LiquidFilters]) %>

<%= simple_format(h(EmailTemplate.fetch_liquid("invitation").render({"government" => current_government, "user" => current_user, "sender_name" => t('contacts.new.preview.from_name'), "to_name" => t('contacts.new.preview.to_name'), "to_email" => t('contacts.new.preview.to_email')}, :filters => [LiquidFilters]))) %>