<div id="hp_intro"><%= @page_title %></div>
<p>
			
<% if current_user.contacts_count > 0 %>
<%= render :partial => "import_nav", :locals => {:user => current_user } %>
<p>
<% end %>

<%= blurb("people_you_know_intro")%>

<p>
<table border="0" cellspacing="0" cellpadding="0">
	<tr><td valign="top">
			<div class="import_button">
				<%= link_to t('import.buttons.google'), :controller => "import", :action => "google" %>
			</div>
		</td><td valign="top" style="padding-left: 10px;">
			<div class="import_button">			
				<a href="<%=Contacts::Yahoo.new.get_authentication_url %>"><%= t('import.buttons.yahoo')%></a>
			</div>
		</td>
		
		<% if RAILS_ENV == 'production' %>
		<td valign="top" style="padding-left: 10px;">
			<div class="import_button">			
				<a href="<%= Contacts::WindowsLive.new.get_authentication_url %>"><%= t('import.buttons.windows') %></a>
			</div>
		</td>		
		<% end %>
		<td valign="top" style="padding-left: 10px; padding-top: 1px;">
			<% if facebook_session %>
				<div class="import_button">
					<%= link_to t('import.buttons.facebook'), :url => {:controller => "facebook", :action => "invite"}, :html => {:class => "import_button"}  %>
				</div>
			<% else %>
			<fb:login-button onLogin="window.location='<%= url_for(:only_path => false, :controller => 'facebook', :action => 'invite') %>'" size="medium" background="white" length="long"></fb:login-button>
			<% end %>
		</td>
	</tr>
</table>