<div id="hp_intro"><%= @page_title %></div>
<p>
			
<% if current_user.contacts_count > 0 %>
<%= render :partial => "import_nav", :locals => {:user => current_user } %>
<p>
<% end %>

<%= blurb("people_you_know_intro")%>

<p>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
	<tr><td valign="middle" align="middle">
		<%= link_to image_tag("gmail-logo.jpg", :border => 0), :controller => "import", :action => "google" %>
		</td>
		<td valign="middle" align="middle">
			<%= link_to image_tag("yahoo-mail-logo.jpg", :border => 0), :controller => "import", :action => "yahoo" %>
		</td>
		<% if current_government.has_facebook_enabled? %>
		<td valign="middle" align="middle">
			<% if facebook_session %>
				<%= link_to image_tag("facebook-logo.jpg", :border => 0), :url => {:controller => "facebook", :action => "invite"}, :html => {:class => "import_button"}  %>
			<% else %>
				<a href="#" onClick="FB.Connect.requireSession(function() { window.location='<%= url_for(:only_path => false, :controller => 'facebook', :action => 'invite') %>'; });"><%= image_tag("facebook-logo.jpg", :border => 0) %></a>
			<% end %>
		</td>
		<% end %>		
		<td valign="middle" align="middle">
			<%= link_to image_tag("windows-live-hotmail-logo.gif", :border => 0), :controller => "import", :action => "windows" %>
		</td>
	</tr>
</table>


