<div id="hp_intro"><%= t('contacts.index.title', :government_name => current_government.name)%></div>

<%= render :partial => "import_nav", :locals => {:user => current_user} %>		

<% if @contacts.any? %>
	<p><%= t('contacts.not_invited.intro', :contacts_count => @contacts.size, :government_name => current_government.name)%>
	<% form_remote_tag :loading => "Element.show('status');", :url => multiple_user_contacts_url, :method => :put do %>				
		
		<% if @contacts.size > 1 %>
			<%= link_to_function(t('check_uncheck'),"toggleAll('select');return false;") %>
		<% end %>
		<% if @contacts.size > 6 %>
			<div id="contacts">
		<% else %>
			<div id="contacts_small">
		<% end %>
		<% for c in @contacts %>
			<div id="contact_<%= c.id %>">
				<%= check_box_tag "contact_ids[]", c.id, false, :class => "select" %> 
				<%= c.name %> &lt;<%= c.email %>&gt;
			</div>
		<% end %>					
		</div>
		<% if current_user.login != current_user.real_name %>
			<p><%= t('contacts.new.is_from_realname.label')%><br/>
			<%= radio_button_tag :is_from_realname, false %> <%= current_user.login %>					
		    <%= radio_button_tag :is_from_realname, true %> <%= current_user.real_name %>	
		<% end %>					
		<p>
		<table border="0" cellspacing="0" cellpadding="0">
			<tr><td>	
				<%= submit_tag t('contacts.not_invited.submit', :government_name => current_government.name), :class => "yellow_button" %>
				</td><td valign="top">
					<div id="status" style="display: none;">
						<%= t('processing')%>
					</div>
				</td>
			</tr>
		</table>
			
		<%= render :partial => "preview" %>
		
	<% end %>	

<% end %>
