<% if current_government.has_official? %>
<div id="priority_<%= @priority.id %>_intro" class="intro">
	<% if @priority.is_obama_endorsed? %> 
		<%= current_government.official_user.name %>
		<span class="endorsed"><%= t('endorse.plural')%></span>
	<% elsif @priority.is_obama_opposed? %> 
		<%= current_government.official_user.name %>
		<span class="opposed"><%= t('oppose.plural')%></span>
	<% else %>
		<%= h(current_government.prompt) %>
	<% end %>
</div>
<% end %>

<div id="priority_<%= @priority.id %>_name">
<%= render :partial => "priorities/name", :locals => { :priority => @priority } %>
</div>