<div class="priority_listing">
<div class="priority_name" id="priority_<%= priority.id %>_name">
	<%= official_status(priority) %>
	<%= link_to_unless_current h(priority.name), priority, :class => "priority_name_link" %>
</div>
<%= render :partial => "priorities/tag_show", :locals => { :priority => priority }%>
<div style="position: relative; right: 3px;">
<%= render :partial => "priorities/endorsement_count", :locals => {:priority => priority }%>
</div>
</div>