<div id="priority_<%= priority.id %>_tags">
<% if logged_in? and (current_user.is_tagger? or current_user.is_admin?)%>

	<% for tag in priority.issues %>
	<span class="tag_name"><%= link_to tag.title, :controller => "issues", :slug => tag.slug %></span>
	<span class="tag_count"><%= tag.priorities_count %></span>
	<% end %>


<% elsif priority.attribute_present?("cached_issue_list") %>

	<%= tags_sentence(priority.cached_issue_list) %>
		
<% end %>

<% if logged_in? and (current_user.is_tagger? or current_user.is_admin?)%>
	<span class="tag_button">
		<%= link_to_remote "tag", { :url => tag_priority_path(priority) } %>
	</span>
<% end %>

</div>