<% if @priorities.any? %>

	<% for priority in @priorities %>
		<div id="nb_priority_<%= priority.id %>" class="nb_priority">
			<div id="nb_priority_name_<%= priority.id %>" class="nb_priority_name">
				<%= link_to h(priority.name), priority_url(priority, :only_path => false), :class => "nb_priority_name_link", :id => "nb_priority_name_link_#{priority.id.to_s}" %>
			</div>
			<div id="nb_priority_endorsements">
				<% if priority.position != 0 %>
					<%= t('priorities.position.number', :position => priority.position)%>,
				<% end %>
				<% if priority.is_new? %>	
					<%= t('priorities.position.new.7days.short') %>
				<% elsif priority.position_7days_change > 0 %>
					<%= t('priorities.position.up.7days.short', :count => priority.position_7days_change.abs)%>
				<% elsif priority.position_7days_change < 0 %>
					<%= t('priorities.position.down.7days.short', :count => priority.position_7days_change.abs)%>
				<% else %>
					<%= t('priorities.position.no_change.7days.short') %>
				<% end %>
			</div>
		</div>
	<% end %>

<% end %>