<div id="hp_intro"><%= @page_title%></div>
<p>
	
<% if @ads.empty? %>
	<%= blurb("ad_intro")%>
<% else %>

	<%= t('ads.yours.intro')%>
	
	<% shown_active = false %>
	<% shown_past = false %>
	<% for ad in @ads %>
		
		<% if ad.status == 'active' and not shown_active %>
		<% shown_active = true %>
		<div class="heading"><%= t('ads.current')%></div>
		<% elsif ad.status != 'active' and not shown_past %>
		<p>
		<% shown_past = true %>
		<div class="heading"><%= t('ads.past')%></div>
		<% end %>
		
		<%= render :partial => "ads/show_inline", :locals => {:ad => ad}%>

	<% end %>
	
	<p>
	<%= will_paginate(@ads) %>
	
<% end %>
