<div class="point" id="<%= document.id %>">
	<div class="point_other">
		<% if document.priority %>
			<% if document.is_down? %>
				<span class="opposed"><%= t('oppose.ed')%></span>
			<% end %>
			<%= link_to document.priority.name, document.priority %>
		<% elsif document.research_task %>
			<%= t('research_tasks.requested_by.name', :requester_name => research_task_requester(document.research_task))%>
		<% end %>
	</div>			
	<div class="point_name">
	<% if revision %>
		<%= link_to_unless_current h(revision.name), document_revision_url(document,revision) %>
	<% else %>
		<%= link_to_unless_current h(document.name), document %>
	<% end %>
	</div>
	<div class="point_byline">
		<%= t('revisions.word_count', :count => document.word_count) %> <%= t('revisions.byline', :author_sentence => document.author_sentence) %><% if revision %>, <%= t('revisions.revised', :time_ago => time_ago(revision.created_at)) %> <%= t('revisions.byline', :author_sentence => link_to(revision.user.name, revision.user)) %><% else %>, <%= t('revisions.added', :time_ago => time_ago(document.created_at)) %><% end %>.
	</div>

	<% @point_value = document.value %>
	<%= render :partial => "points/helpful_count", :locals => {:point => document} %>

</div>