<%= render :partial => "priorities/header" %>
<%= render :partial => "priorities/nav" %>
<p>
<%= blurb('document_new')%>
	<p>
<% form_for :document, :url => priority_documents_path(@priority)  do |f| %>
	<%= f.error_messages %>
<p>
	<%= t('document.revision.new.name.label')%><br/>
   <%= f.text_field :name, :size => 50, :maxlength => 60 %>		
</p>
<p>
<%= t('document.revision.new.position.label', :support_radio => f.radio_button(:value, 1), :neutral_radio => f.radio_button(:value, 0), :oppose_radio => f.radio_button(:value, -1), :priority_name => link_to(@priority.name, @priority)) %>
</p>
<p>
<%= f.text_area :content, :rows => 10, :cols => 60 %>
</p>

<p>
<table border="0" cellspacing="0" cellpading="0">
	<tr><td valign="top">
		<%= f.submit t('document.revision.new.submit'), :id => "submit", :class => "yellow_button" %>
	</td><td valign="top" style="padding-left: 10px; padding-top: 3px;">
		<div id="errors" class="error"><%= f.error_messages %></div>
	</td>
	</tr>
</table>
</p>

<% end %>
<p>
<%= blurb('textile')%>
