<% cache("#{current_government.short_name}-watch", :expires_in => 10.minutes) do %>

<div id="intro"><%= current_government.prompt %></div>
	
<div id="myhtmlticker" class="tickerstyle">
	<% for priority in @priorities %>
	<div class="messagediv">
		<div class="messagename">
		<%= link_to priority.name, priority %>
		</div>
		<div class="messagesub">
			<%= t('splash.endorsements', :position => priority.position, :count => priority.up_endorsements_count, :oppose_count => priority.down_endorsements_count)%>
		</div>
	</div>
	<% end %>
</div>

<% if current_government.has_picture? %>
	<div style="float: left; padding-right: 10px;">
	<a href="/"><%= image_tag current_government.logo.url(:icon_96), :border => 0 %></a>
	</div>
<% end %>

<div id="signup">
	<a href="/signup" class="nounderline"><%= current_government.mission %></a>.  <a href="/" class="underline"><%= t('splash.enter')%></a> &rarr;
</div>
<% end %>