<div id="hp_intro">Submit your agenda to President Obama's administration</div>

The White House requires your real name (<%= current_user.real_name %>), email address <% if current_user.has_email? %>(<%= current_user.email %>)<% end %> and zip code <% if current_user.has_zip? %>(<%= current_user.zip %>) <% end %>to be sent along with your agenda.  Your submission will go directly into their database, and you can update and re-submit it as many times as you like. 
<p>
After your first submission, you'll also earn <span class="pc">3<%= current_government.currency_short_name %></span> at <%= current_government.name %>. Learn more about <%= current_government.currency_name.downcase %> <a href="/about/faq#pc">here</a>.

<div style="margin-top: 10px;">
<% form_for(@letter) do |f| %>

	From: <%= current_user.real_name %> <% if current_user.has_email? %>&lt;<%= current_user.email %>&gt;<% end %><br/>
	To: President Obama's administration
	<p>
	<%= f.error_messages %>

	<%= f.text_area :content, :rows => "10", :cols => "80" %>

	<br/><%= f.check_box :is_public %> Also publish my letter on <%= current_government.name %>
		<% if not current_user.has_email? or not current_user.has_zip? %>
			The Obama Administration requires an email address and zip code:
			<table border="0" cellspacing="0" cellpadding="0">
			<% if not current_user.has_email? %>
				<% fields_for(User.new) do |u| %>
					<tr><td>Email address:</td><td><%= u.text_field :email, :size => 20 %></td></tr>
				<% end %>
			<% end %>	
			<% if not current_user.has_zip? %>
				<% fields_for(User.new) do |u| %>
					<tr><td>Zip code:</td><td><%= u.text_field :zip, :size => 10 %></td></tr>
				<% end %>
			<% end %>	
			</table>	
		<% end %>
		<p>
	<%= f.submit "Save and Preview Your Letter", :class => "yellow_button" %> &larr; this is just a preview, it won't actually send your letter yet

<% end %>
</div>

<div class="heading">Letter template:</div>
<div class="invite_text">
<%= simple_format(@draft) %>
</div>