<div id="hp_intro">Previewing your letter to President Obama's administration</div>


From: <%= current_user.real_name %> &lt;<%= current_user.email %>&gt; Zip Code: <%= current_user.zip %><br/>
To: President Obama's administration
<p>
<div class="invite_text">
<%= auto_link(simple_format(h(@letter.content))) %>
</div>

<form name="signup" action="http://change.gov/page/s/yourvision" method="post" id="signup" enctype="multipart/form-data">
<input name="email" type="hidden" value="<%= current_user.email %>">
<input name="firstname" type="hidden" value="<%= current_user.first_name %>">
<input name="lastname" type="hidden" value="<%= current_user.last_name %>">
<input type="hidden" name="addr1" value="">
<input type="hidden" name="addr2" value="">		
<input type="hidden" name="city" value="">				
<input type="hidden" name="state_cd" value="">
<input name="zip" type="hidden" value="<%= current_user.zip %>">
<input type="hidden" name="phone" value="">	
<input type="hidden" name="custom-37" value="<%= @letter.content %>">
<input name="submit" value="Send your agenda" type="submit" class="yellow_button" /> <span style="margin-left: 20px;">or <%= link_to "make revisions", edit_obama_letter_url(@letter) %></span>
</form>