<h1>Editing research_task</h1>

<% form_for(@research_task) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :requester_id %><br />
    <%= f.text_field :requester_id %>
  </p>
  <p>
    <%= f.label :requester_name %><br />
    <%= f.text_field :requester_name %>
  </p>
  <p>
    <%= f.label :requester_organization %><br />
    <%= f.text_field :requester_organization %>
  </p>
  <p>
    <%= f.label :requester_email %><br />
    <%= f.text_field :requester_email %>
  </p>
  <p>
    <%= f.label :issue_id %><br />
    <%= f.text_field :issue_id %>
  </p>
  <p>
    <%= f.label :is_official_request %><br />
    <%= f.check_box :is_official_request %>
  </p>
  <p>
    <%= f.label :document_id %><br />
    <%= f.text_field :document_id %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </p>
  <p>
    <%= f.label :finished_at %><br />
    <%= f.datetime_select :finished_at %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @research_task %> |
<%= link_to 'Back', research_tasks_path %>
