<div id="hp_intro"><%= @page_title %></div>
<p>
				
<% if @research_tasks.empty? %>

	There aren't any research requests right now.<br/>
	Do you have something you want researched?  <%= link_to "Tell us", new_research_task_url %>.

<% else %>

	<% if logged_in? %>
		Just click the title to start researching or collaborating with others on it.<br/>
		Do you have something you want researched?  <%= link_to "Tell us", new_research_task_url %>.
		<p>
	<% end %>
	
	<%= render :partial => "shared/paginate_with_feed", :locals => {:collection => @research_tasks} %>
	
	<% for task in @research_tasks %>
		<%= render :partial => "research_tasks/show", :locals => {:task => task} %>
	<% end %>
	
	<%= will_paginate(@research_tasks) %>

<% end %>
