<div id="hp_intro"><%= @page_title %></div>
<p>

Fill out this form, and it will be posted for others to research.<br/>
Only the <span class="red">*</span> fields are required.
<p>

<% form_for(@research_task) do |f| %>

  <%= f.error_messages :header_message => "More information needed", :message => "We need more information about your research request:" %>

	<% if logged_in? and not current_user.has_email? %>
	
	<div class="field">
	    <div class="field_label"><span class="red">*</span> Your email address (kept private)</div>
		<div class="field_box">
	    <%= f.text_field :requester_email %>
		</div>
	</div>

	<% elsif not logged_in? %>

		<table border="0" cellspacing="0" cellpadding="0">

			<tr><td valign="top">

				<div class="field">
			    	<div class="field_label"><span class="red">*</span> Your name</div>
					<div class="field_box">
				    <%= f.text_field :requester_name %>
					</div>
				</div>

			</td><td valign="top" style="padding-left: 10px;">

				<div class="field">
				    <div class="field_label"><span class="red">*</span> Your email address (kept private)</div>
					<div class="field_box">
				    <%= f.text_field :requester_email %>
					</div>
				</div>

			</td></tr>
		</table>

		<table border="0" cellspacing="0" cellpadding="0">

			<tr><td valign="top">

				<div class="field">
				    <div class="field_label">Your organization</div>
					<div class="field_box">
				    <%= f.text_field :requester_organization %>
					</div>
				</div>

			</td><td valign="top" style="padding-left: 10px;">

			</td></tr>
		</table>
	
	<% end %>


	<div class="field">
	    <div class="field_label"><span class="red">*</span> Very briefly, what are you looking for?</div>
		<div class="field_box">
	    <%= f.text_field :name, :maxlength => 60, :size => 50 %>
		</div>
	</div>

	<div class="field">
	    <div class="field_label">More detail on what you need:</div>
		<div class="field_box">
	    <%= f.text_area :content, :size => "50x4" %>
		</div>
	</div>

	<% if current_government.is_tags? %>
		<div class="field">
			<div class="field_box">
		    <%= f.select :tag_id, Tag.more_than_three_priorities.alphabetical.all.collect {|i| [ i.name.titleize, i.id ] }, {:include_blank => 'Pick a ' + current_government.tags_name.downcase } %>
			</div>
		</div>
	<% end %>
	
    <%= f.submit "Submit Research Request", :class => "yellow_button" %>

<% end %>

