<span id="activity_<%= activity.id.to_s %>_button_small">
	
<% if following %>

	<span class="priority_remove" id="activity_add_<%= activity.id.to_s %>">
		<%= t('follow.ing')%> 
		<%= link_to_remote "&nbsp;x", { :url => activity_following_path(activity, following, :region => "activity_show"), :method => :delete }, :class => "priority_remove_link", :title => t('follow.delete.title') %>
	</span>
		
<% else %>
	<span class="priority_add" id="activity_add_<%= activity.id.to_s %>">
		<%= link_to_remote t('follow.capitalize'), { :url => activity_followings_path(activity, :region => "activity_show"), :method => :post, :loading=>"update('#{t('follow.ing')}...')" }, :class => "priority_add_link", :title => t('follow.title') %>	
	</span>
<% end %>
<%= t('following_discussions.new.name')%>
</span>