<div id="hp_intro"><%= @page_title %></div>
<p>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
	
	<tr><td valign="top" width="160">
			<%= render :partial => "nav" %>
		</td>
		<td valign="top">
			
			<% form_for(@email_template) do |f| %>
			<%= f.error_messages %>
				<input type="hidden" name="email_template[name]" value="<%= h(params[:name]) %>">
				<div class="field">
					<div class="field_box">
					<%= f.text_field :subject, :size => 60 %>
					</div>
				</div>
				<div class="field">
					<div class="field_box">
					<%= f.text_area :content, :size => "40x5" %>
					</div>
				</div>
				<%= f.submit t('email_templates.new.submit'), :class => "yellow_button" %>
			<% end %>
			
			<h2><%= t('blurbs.new.current')%></h2>
			<div id="blurb_preview">
			<%= simple_format(h(@email_template.content)) %>
			</div>
		</td>
	</tr>
</table>